/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Grandstander:ital,wght@1,300&display=swap');

/* EFFECTS */
@keyframes fadeIn {
    0% {
    opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
}

/* ETIQUETAS */
body {
    height: 122.188em;
    margin: 0;
}

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
}

header.contactHeader {
    background-color: #77cace;
    position: fixed;
    width: 100%;
}

#mainHeader {
    height: 10%;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
footer {
    display: flex;
    flex-direction: column;
    height: 12.500em;
}


/* DIV Contenedor */
#bodyContainer {
    height: 100%;
    width: 100%;
}

/* DIV dentro de <Header> */
#headerDiv {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.null {
    width: 5%;
}

#personalBrand {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.null2 {
    height: 45%;
}

#personal-logo {
    text-align: center;
    height: 35%;
}

#brandText {
    font-family: 'Grandstander', cursive;
    text-align: center;
    font-size: x-large;
    height: 25%;
}

.null3 {
    width: 14%;
}

#headerMidBox {
    display: flex;
    flex-direction: column;
    width: 30%;
}   

.null4 {
    height: 65%;
}

#listDiv {
    height: 35%;
}

/* Estilos de la lista */
.list {
    display: flex;
    list-style-type: none;
    height: 100%;
}

a {
    color: #222831;
    text-decoration: none;
}

a:hover {
    color: #eeeeee;
    transition: 0.5s;
}

li:nth-child(1) {
    font-family: 'Grandstander', cursive;
    text-align: center;
    height: 100%;
    width: 33.3%;
}

li:nth-child(2) {
    font-family: 'Grandstander', cursive;
    text-align: center;
    height: 100%;
    width: 33.3%;   
}

li:nth-child(3) {
    font-family: 'Grandstander', cursive;
    text-align: center;
    height: 100%;
    width: 33.3%;
}

.null5 {
    width: 36%;
}

/* DIV con Imagen */
#imageDiv {
    height: 50%;
    width: 100%;
    background-image: url(../img/main.jpg);
    background-size: cover;
}

/* SECTION 'Sobre mi' */
.section {
    display: flex;
    flex-direction: row;
    height: 20%;
}

#section1LeftSide {
    width: 20%;
}

#section1Center {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.null6 {
    height: 5%;
}

#centerTop1{
    position: relative;
    height: 5em;
    width: 5em;
    margin: auto;
}

#centerTop1 img.top {
    position: relative;
    bottom: 5.250em;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

.null7 {
    height: 5%;
}

#centerMid1 {
    font-family: 'Grandstander', cursive;
    font-size: xx-large;
    text-align: center;
    height: 10%;
}

#centerBottom1{
    font-family: 'Dosis', sans-serif;
    color: #222831;
    font-weight: 200;
    font-size: x-large;
    text-align: center;
    height: 50%;    
}

#section1RightSide {
    width: 20%;
}

/* SECTION 'Tecnologias' */
#section2LeftSide {
    width: 5%;
}

#section2Center {
    width: 40%;
}

#centerTop2 {
    background-color: #77cace;
    height: 1.25%;
    width: 100%;
    margin-top: 5%;
}

#centerMid2 {
    font-family: 'Grandstander', cursive;
    font-size: xx-large;
    text-align: center;
    height: 10%;
    width: 100%;
    margin-top: 2.5%;
}

#centerBottom2 {
    font-family: 'Dosis', sans-serif;
    color: #222831;
    font-size: x-large;
    text-align: center;
    height: 70%;
    width: 100%;
}

#section2RightSide {
    display: flex;
    flex-direction: column;
    width: 55%;
}

#iconoApi {
    width: 80%;
    margin-left: ;
}

#iconoWeb {
    width: 80%
    margin-left: ;
}

#iconoBBDD {
    width: 80%;
    margin-left: ;
}

/* SECTION 'Contacto' */
#section3LeftSide {
    width: 33.750em;
}

#section3Center {
    width: 33.750em;
}


#section3RightSide {
    display: flex;
    flex-direction: column;
    width: 51.875em;
}

#barSeparation2 {
    background-color: #77cace;
    height: 0.250em;
    width: 36.250em;
    margin-top: 2em;
    margin-left: 7.50em;
}

#contactTittle {
    font-family: 'Grandstander', cursive;
    font-size: xx-large;
    text-align: center;
    height: 1.5em;
    margin-top: 1em;
}
  
#contactText {
    font-family: 'Dosis', sans-serif;
    color: #222831;
    font-weight: 200;
    font-size: x-large;
    text-align: center;
    padding-right: 1.5em;
}

#contactButton {
        font-family: 'Grandstander', cursive;
        background-color: #00adb5;
        color: white;
        font-size: large;
        text-align: center;
        width: 7.5em;
        padding: 1.625em 2em;
        margin-top: 1.5em;
        margin-left: 17.2em;
        border-radius: 0.750em;
        transition-duration: 1s;
}

#contactButton:hover {
    box-shadow: 0 0.750em 1em 0 rgba(0,0,0,0.24), 0 1.063em 3.125em 0 rgba(0,0,0,0.19);
    transition-duration: 2s;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.250em;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 1.563em;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* FOOTER DIVS */
#socialLinks{
    display: flex;
    flex-direction: row;
    height: 90%;
    margin-top: 7.50em;
}

#leftFooter {
    width: 45%;
}

#centerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10%;
}

#rightFooter {
    width: 45%;
}

#footerBar{
    background-color: #77cace;
    height: 10%;
}


/* CONTACT.html */
#contactDIV {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 18.750em;
    height: 55.000em;
    
}

#headerContactDIV {
    display: flex;
    flex-direction: row;
    height: 5.5em;
}

#linkIndex {
    margin-left: 50.000em;
}

.column {
    margin-top: 12.500em;
}

#dudaDiv {
    font-family: 'Grandstander', cursive;
    font-size: x-large;
    width: 45.000em;
    text-align: center;
    margin-left: 12.500em;
}

#contactChildDiv {
    height: 55.625em;
}

.form-control {
    font-family: 'Dosis', sans-serif;
    font-size: large;
}

#nombreLabel {
    font-family: 'Dosis', sans-serif;
    font-size: x-large;
}

#email-Label {
    font-family: 'Dosis', sans-serif;
    font-size: x-large;
}

#commentLabel {
    font-family: 'Dosis', sans-serif;
    font-size: x-large;
}

#commentLabelInput {
    font-family: 'Dosis', sans-serif;
    font-size: large;
}

#idea {
    position: relative;
    top: 10.625em;
    left: 11.250em;
    z-index: 0;
}

#deal {
    position: relative;
    top: 38.750em;
    left: 45.000em;
    z-index: 0;
}

#form-set {
    position: relative;
    z-index: 1;
}

#backImage {
    height: 43.750em;
}

#centerFooterContact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10%;
}