/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Grandstander:ital,wght@1,300&display=swap');

@keyframes fadeIn {
    0% {
    opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
}

/* ETIQUETAS */
body {
    margin: 0;
}

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
}

#mainHeader {
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
footer {
    display: flex;
    flex-direction: column;
    height: 12.500em;
}

/* DIV Contenedor */
#bodyContainer { 
    width: 100%;
}

/* DIV Container*/
#headerDIV {
    display: flex;
    flex-direction: row;
    height: 5.5em;
}

.null {
    width: 8em;
}

#marcaPersonal {
    display: flex;
    flex-direction: column;
    width: 12.500em;
}

.null2 {
    height: 1.875em;
}

#textoMarca {
    font-family: 'Grandstander', cursive;
    text-align: center;
    font-size: x-large;
}

.null3 {
    width: 25em;
}

#menuContainer {
    display: flex;
    flex-direction: column;
    width: 27.500em;
}

#navMenu {
    height: 7.50em;
    width: 27.500em;
}

.null4 {
    height: 4em;
}

.list {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.750em;
    width: 23.750em;
}

a {
    color: #222831;
    text-decoration: none;
}

a:hover {
    color: #eeeeee;
    transition: 0.5s;
}

li:nth-child(1) {
    font-family: 'Grandstander', cursive;
    text-align: center;
    height: 1.125em;
    width: 5em;
    
    
}

li:nth-child(2) {
    font-family: 'Grandstander', cursive;
    height: 1.125em;
    width: 3.750em;
    
}

li:nth-child(3) {
    font-family: 'Grandstander', cursive;
    height: 1.125em;
    width: 3.750em;
}

/* DIV con Imagen */
#mainDIV {
    height: 61.125em;
    width: auto;
    background-image: url(../img/main.jpg);
    background-size: auto;
}

#mainText {
    font-family: 'Grandstander', cursive;
    font-size: 400%;
    color: white;
    text-align: center;
    height: 12.500em;
    width: 77.500em;
}

/* SECTION 'Sobre mi' */
.section {
    display: flex;
    flex-direction: row;
    height: 22.500em;
}

#section1LeftSide {
    width: 28.750em;
}

#section1Center {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#centerTop{
    position: relative;
    height: 5em;
    width: 5em;
    margin-top: 2.5em;
    margin-left: 37.500em;
}

#centerTop img {
    position: absolute;
}

#centerTop img.top {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

#centerMid {
    font-family: 'Grandstander', cursive;
    font-size: xx-large;
    text-align: center;
    height: 2.500em;
    margin-top: 0.875em;
}

#centerBottom{
    font-family: 'Dosis', sans-serif;
    color: #222831;
    font-weight: 200;
    font-size: x-large;
    text-align: center;
    height: 13.125em;    
}

#section1RightSide {
    width: 28.750em;
}

/* SECTION 'Portfolio' */
#section2LeftSide{
    width: 51.875em;
}

#barSeparation {
    background-color: #77cace;
    height: 0.250em;
    width: 36.250em;
    margin-top: 3.000em;
    margin-left: 3em;
}

#leftMid2 {
    font-family: 'Grandstander', cursive;
    font-size: xx-large;
    text-align: center;
    height: 1.5em;
    margin-top: 1em;
}

#leftBottom2 {
    font-family: 'Dosis', sans-serif;
    color: #222831;
    font-weight: 200;
    font-size: x-large;
    text-align: center;
    padding-left: 1.5em;
}

#section2Center {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#iconoApi {
    margin-left: 27.500em;

}

#iconoWeb {
    margin-left: 45.000em;
}

#iconoBBDD {
    margin-left: 33.750em;
}

#section2RightSide {
    width: 33.750em;
}


/* SECTION 'Contacto' */
#section3LeftSide {
    width: 33.750em;
}

#section3Center {
    width: 33.750em;
}


#section3RightSide {
    display: flex;
    flex-direction: column;
    width: 51.875em;
}

#barSeparation2 {
    background-color: #77cace;
    height: 0.250em;
    width: 36.250em;
    margin-top: 2em;
    margin-left: 7.50em;
}

#contactTittle {
    font-family: 'Grandstander', cursive;
    font-size: xx-large;
    text-align: center;
    height: 1.5em;
    margin-top: 1em;
}
  
#contactText {
    font-family: 'Dosis', sans-serif;
    color: #222831;
    font-weight: 200;
    font-size: x-large;
    text-align: center;
    padding-right: 1.5em;
}

#contactButton {
        font-family: 'Grandstander', cursive;
        background-color: #00adb5;
        color: white;
        font-size: large;
        text-align: center;
        width: 7.5em;
        padding: 1.625em 2em;
        margin-top: 1.5em;
        margin-left: 17.2em;
        border-radius: 0.750em;
        transition-duration: 1s;
}

#contactButton:hover {
    box-shadow: 0 0.750em 1em 0 rgba(0,0,0,0.24), 0 1.063em 3.125em 0 rgba(0,0,0,0.19);
    transition-duration: 2s;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.250em;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 1.563em;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* FOOTER DIVS */
#socialLinks{
    display: flex;
    flex-direction: row;
    height: 4.375em;
    margin-top: 7.50em;
}

#leftFooter {
    width: 53.750em;
}

#centerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 12.50em;
}

#rightFooter {
    width: 53.750em;
}

#footerBar{
    background-color: #77cace;
    height: 0.625em;
}